@import "tailwindcss";
@import "tw-animate-css";


@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
        url('/fonts/Satoshi-Regular.woff') format('woff'),
        url('/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.dark-gradient {
    background-image:
        radial-gradient(circle at 10% 20%, rgba(103, 65, 1, 0.775), rgba(86, 64, 20, 0.705) 20%),
        linear-gradient(90deg, #1D2948 0%, #141D33 25%, #0F1628 38%, #050A16 100%);
    background-repeat: no-repeat;
    background-size: cover;
}


.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 5px;
}

@keyframes twinkle {
    0% {
        transform: scale(1, 1);
        background: rgba(255, 255, 255, 0);
        animation-timing-function: linear;
    }

    40% {
        transform: scale(0.8, 0.8);
        background: rgba(255, 255, 255, 1);
        animation-timing-function: ease-out;
    }

    80% {
        background: rgba(255, 255, 255, 0);
        transform: scale(1, 1);
    }

    100% {
        background: rgba(255, 255, 255, 0);
        transform: scale(1, 1);
    }
}

@theme inline {
    --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;

    @keyframes orbit {
        0% {
            transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
        }

        100% {
            transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
        }
    }
}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 40s linear infinite;
}